@import "tailwindcss";

@font-face {
  font-family: 'Trim';
  src: url('/fonts/TRIM-LIGHT.woff2') format('woff2');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Trim';
  src: url('/fonts/TRIM-BOLD.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: 'Helvetica';
  src: url('/fonts/Helvetica.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}